br.reset{clear:both}
.thisisapage {min-height:460px}
.hastoolbar {min-height:394px}

div.content {
color:#000;
margin:10px
}

div.content p {
color:#000;
padding:5px 0
}

div.content li {
color:#FFF;
font-weight:400;
padding:5px 0
}

.heading {
-webkit-box-sizing:border-box;
background:-webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.2, rgb(64,2,52)),
  color-stop(0.8, rgb(104,36,90))
  );
height:45px;
position:relative;
text-align:center;
}
.heading h1 {
  background:url('img/heading.png') no-repeat center 12px;
  height:45px;
  width:282px;
  margin:0 auto;
}

.smallHeading {font-size:12px}

.toolbar_bottom,.footerIcons,.toolbar_bottom li,.toolbar_bottom li a,.toolbar_bottom a {
-webkit-border-radius:0 !important;
border:none;
background:none;
font-size:10px;
margin:0;
overflow:hidden;
color:#FFF;
padding:0;
width:100%;
}

.toolbar_bottom li {
background:none;
float:left;
text-align:center;
}

#footerLogos ul {
  -webkit-border-radius:0;
  width:96%;
  height:75px;
  margin:0 2%;
  padding:0;
  border:none;
  background:none;
  text-align:center;
}
#footerLogos li {
  width:31%;
  display:inline-block;
  border:none;
  margin:0 0 10px;
  padding:0;
  height:75px;
  -webkit-border-radius:0;
  text-align:right;
  overflow:hidden;
}
#footerLogos li.last {
  width:64%;
  text-align:center
}

.footerIcons {
background:-webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.85, rgb(103,119,25)),
  color-stop(0.02, rgb(65,74,16))
  );
height:66px;
overflow:hidden;
}

.footerIcons li {
text-align:center;
width:20%
}

.footerIcons li a,
.footerIcons li div {
display:block;
height:66px;
width:100%;
padding:0;
margin:0;
}
.footerIcons li a span,
.footerIcons li div span {
  background-image:url('img/footerIcons.png');
  background-repeat:no-repeat;
  display:block;
  margin:16px auto 0;
  height:29px;
}
.footer1 {width:27px}
.footer2 {
  width:28px;
  background-position:-27px 0
}
.footer3 {
  width:24px;
  background-position:-55px 0
}
.footer4 {
  width:43px;
  background-position:-79px 0
}
.footer5 {
  width:26px;
  background-position:-122px 0
}


/* Email Content Page */
#emailContent li {
background:#FFF;
font-size:17px;
font-weight:500
}

label {
  display:inline-block;
  width:95px;
  float:left;
}

.haslabel, input.haslabel, input[type=text].haslabel {
  display:inline-block !important;
  width:180px;
  float:left;
}
textarea {padding:0}

.haslabel-50 {
  display:inline-block !important;
  width:45px;
}
.haslabel-125 {
  display:inline-block !important;
  width:130px;
}


.weight500 {font-weight:500}


ol.edgetoedge {
  list-style-type:decimal !important;
  padding:10px 10px 10px 30px;
  margin:0;
  border-bottom:1px solid #999;
}
ol.edgetoedge li {
  list-style-type:decimal !important;
  padding:5px 0;
  text-indent:0;
}

#supName {text-align:center}
.errorMsg {color:#A00}

#accordion .expandable {overflow:hidden}
#accordion h2 {
  background:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.2, rgb(64,2,52)),
    color-stop(0.8, rgb(104,36,90))
    );
  color:#FFF;
  font-weight:700;
  margin:0;
  padding:8px 10px;
  font-size:16px;
  text-shadow:rgba(0, 0, 0, 0.4) 0 -1.5px 0;
  cursor:pointer;
}

#startLinks {
  border:0;
  width:100%;
  margin:7px 2%;
}

#startLinks,
#startLinks li {
  padding:0;
}
#startLinks li {
  width:32%;
  height:95px;
  float:left;
  overflow:hidden;
  display:block;
  font-size:12px;
  border:0;
  -webkit-border-radius:0;
}
#startLinks li a {
  display:block;
  height:95px;
  padding-top:20px;
  text-align:center;
}

#startLinks li.borderSides {
  border-left:1px solid #dbcd9c;
  border-right:1px solid #dbcd9c;
}

#startLinks li.borderTopSides {
  border:1px solid #dbcd9c;
  border-bottom:none;
}

#startLinks li.borderTop {
  border-top:1px solid #dbcd9c;
}

#startLinks li a span {
  display:block;
  width:100%;
  background-image:url('img/startLogos.png');
  background-repeat:no-repeat;
}

.start1 {
  height:37px;
  margin:6px 0 7px;
  background-position:center 0;
}
.start2 {
  height:37px;
  margin:6px 0 7px;
  background-position:center -37px;
}
.start3 {
  height:30px;
  margin:10px 0;
  background-position:center -74px;
}
.start4 {
  height:40px;
  margin:5px 0;
  background-position:center -104px;
}
.start5 {
  height:40px;
  margin:5px 0;
  background-position:center -143px;
}
.start6 {
  height:27px;
  margin:11px 0 12px;
  background-position:center -184px;
}
.start7 {
  height:39px;
  margin:5px 0 6px;
  background-position:center -211px;
}
.start8 {
  height:21px;
  margin:14px 0 15px;
  background-position:center -250px;
}
.start9 {
  height:37px;
  margin:6px 0 7px;
  background-position:center -271px;
}

.error{
    color:red;
    padding:0 10px;
}
.success{
    color:green;
    padding:0 10px;
}

.dsImg {float:right}

.imgWrapper {
  float:right;
}
#photocontainer {display:block}

.inputImg {
  width:80px;
  height:80px;
  margin:5px;
  background:#EEE;
  float:right;
  vertical-align:text-top;
  font-size:10px;
  border:1px solid #333;
}
.imgBtnWrapper {
  float:right;
  margin:15px 0 0;
  width:180px
}


#svgtest {
background-image:url('image.png');
background-image:none,url('img/test2.svg'), url('image.png');
background-size:100% 100%;
-webkit-background-size: 100% 100%;
width:100%;
height:320px;
}